<ul>

  <% @events.each do |event| %>
      <li>
        <%= event.name %>
        <%= link_to 'Edit', :controller => 'events', :action => 'edit', :name => event.name %>
      </li>
  <% end %>
  <%= link_to 'New event', :controller => 'events', :action => 'new' %>
</ul>
test2?
